@font-face {
  font-family: 'bebas_neueregular';
  src: url("fonts/bebasneue-webfont.eot");
  src: url("fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#fonts/bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'bebas_neueregular', helvetica, arial, sans-serif;
  color: whitesmoke; }

h1:before {
  content: url("img/bannerLeft.svg"); }
h1:after {
  content: url("img/bannerRight.svg"); }

p {
  color: white;
  font-family: 'Titillium Web', sans-serif; }

.date {
  width: 80%;
  margin: 25px auto;
  background: white;
  padding: 6px;
  position: relative;
  -webkit-transition: all 500ms ease-in;
  -mox-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }
  @media screen and (min-width: 601px) {
    .date {
      position: absolute;
      right: 5%;
      top: 300px;
      width: 45%; } }
  .date h2 {
    position: relative;
    text-align: center;
    color: #353435;
    font-size: 32px;
    z-index: 2;
    margin: 12px 0; }
  .date .bannerLeft, .date .bannerRight {
    width: 19%;
    height: 80%;
    position: absolute;
    bottom: 11%;
    z-index: 1; }
  .date .bannerLeft {
    left: -10%; }
  .date .bannerRight {
    right: -10%; }

.star {
  font-size: 0.5em;
  vertical-align: middle; }

body {
  background: black;
  margin: 0;
  min-width: 320px; }

.unionLogos {
  width: 90%;
  margin: 0 auto;
  padding: 6px 5%;
  -webkit-transition: all 500ms ease-in;
  -mox-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }
  @media screen and (min-width: 601px) {
    .unionLogos {
      position: absolute;
      width: 45%;
      left: 5%;
      top: 0; } }
  .unionLogos img {
    width: 29%;
    margin: 0 3% 0 0; }

.logo {
  pointer-events: none;
  margin: 0 auto;
  width: 90%;
  -webkit-transition: all 500ms ease-in;
  -mox-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }
  @media screen and (min-width: 601px) {
    .logo {
      position: absolute;
      top: 35px;
      left: 5%;
      width: 45%; } }
  .logo img {
    width: 100%; }

.graphic {
  display: none;
  background: transparent;
  position: relative;
  width: 70%;
  margin: 25px auto;
  text-align: center; }
  .graphic img {
    -webkit-transition: all 500ms ease-in;
    -mox-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    width: 100%; }
  .graphic .normal {
    opacity: 1; }
    .graphic .normal:hover {
      opacity: 0; }
  .graphic .hover {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0; }
    .graphic .hover:hover {
      opacity: 1; }
  .graphic h4 {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 5%;
    height: 20%;
    background: white;
    color: #353435; }
  .graphic .bannerLeft, .graphic .bannerRight {
    width: 19%;
    height: 16%;
    position: absolute;
    bottom: 2%; }
  .graphic .bannerLeft {
    left: -5%; }
  .graphic .bannerRight {
    right: -5%; }

#drinks h4, #pens h4 {
  padding-top: 5%; }

.wrap {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.content {
  display: none;
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  .content p {
    font-size: 18px;
    margin-top: 0; }
  .content h3 {
    font-size: 24px;
    margin-bottom: 8px; }

.djs {
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 601px) {
    .djs {
      width: 45%;
      position: absolute;
      top: 400px;
      right: 5%; } }
  .djs h5 {
    margin: 0; }
    .djs h5:before, .djs h5:after {
      content: " - "; }
  .djs h2 {
    margin-top: 12px; }

#countdown {
  width: 60%;
  margin: 0 20%;
  text-align: center;
  display: inline-block;
  color: white;
  font-family: 'bebas_neueregular', helvetica, arial, sans-serif;
  -webkit-transition: all 500ms ease-in;
  -mox-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }
  @media screen and (min-width: 601px) {
    #countdown {
      position: absolute;
      top: 15px;
      right: 5%;
      width: 45%;
      margin: 20px 0; } }

/* jQuery Countdown styles 1.6.3. */
.countdown_rtl {
  direction: rtl; }

.countdown_row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center; }

.countdown_show1 .countdown_section {
  width: 98%; }

.countdown_show2 .countdown_section {
  width: 48%; }

.countdown_show3 .countdown_section {
  width: 32.5%; }

.countdown_show4 .countdown_section {
  width: 24.5%; }

.countdown_show5 .countdown_section {
  width: 19.5%; }

.countdown_show6 .countdown_section {
  width: 16.25%; }

.countdown_show7 .countdown_section {
  width: 14%; }

.countdown_section {
  display: block;
  float: left;
  text-align: center; }

.countdown_amount {
  font-size: 4em; }

.countdown_descr {
  display: block;
  width: 100%;
  font-size: 4em; }
